h1{
    text-align: center;
    text-decoration: underline;
}

.Coiffeur{
    margin-top: 5%;
    padding-left: 40%;
    padding-right: 40%;
}

.Bouton{
    padding-left: 45%;
    padding-right: 45%;
}
